# refers to https://github.com/github/gitignore/blob/master/Objective-C.gitignore

build/*
Build/*
*/build/*
*/Build/*
DerivedData/*
*.pbxuser
*.mode1v3
*.DS_Store
*.swp
*.xcuserdata*
./git/*
xcuserdata*
*.xcuserdata*
.gitattributes
*xcuserdata*
*.pyc
tools/Fabric.app/*
*.xccheckout
Product*
*archives/
*ipas/
*archives*
*ipas*
*Explore.playground*
*/Playgrounds/*
Pods/
